@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out both;
}



@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-reveal {
  view-timeline-name: --section-reveal;
  view-timeline-axis: block;

  animation: reveal linear both;
  
  animation-timeline: --section-reveal;
  
  animation-range: entry 0% exit 100%;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}



.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4e4e7 transparent; 
}
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e4e4e7;
  border-radius: 20px;     
  border: none;           
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d4d4d8;
}



.custom-scroll-x {
  overflow-x: auto;
  scrollbar-width: thin; 
  scrollbar-color: #e4e4e7 transparent;
}
.custom-scroll-x::-webkit-scrollbar {
  height: 6px; 
}
.custom-scroll-x::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll-x::-webkit-scrollbar-thumb {
  background-color: #e4e4e7;
  border-radius: 20px;
}
.custom-scroll-x::-webkit-scrollbar-button {
  display: none;
}



h1, h2, h3, h4, h5, h6, p, span, li, a {
  display: inline-block;
  transition: all 0.3s ease;
  will-change: transform;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, 
p:hover, span:hover, li:hover, a:hover {
  transform: translateY(-1px);
}

